#info-wrapper{
	position: absolute;
	z-index: 10;
	height: 100%;
	width: 100%;
	top:0;
	left:0;
	font-size: 13px;
	font-family: 'Helvetica';
	color:#ffffff;
}

#current-country{
	position: absolute;
	top:60px;
	left:60px;
}

#current-occupation{
	position: absolute;
	top:75px;
	left:60px;
}

#current-year{
	position: absolute;
	top:60;
	left:0;
	width: 60px;
	font-size: 20px;
	right:0;
	margin:auto;
}

#events-wrapper{
	position: absolute;
	top:60px;
	right:60px;
	width:400px;
}

#events-wrapper div{
	margin-bottom:90px;
}

#events-wrapper div h2{
	text-align: center;
}

#control-toggle{
	position: absolute;
	bottom:30px;
	right:162px;
	font-size:12px;
}

#controls{
	display: none;
	position: absolute;
	bottom:60px;
	right:30px;
}

#controls.active{
	display: block;
}

#controls p{
 margin: 0px;
}
